
optdemon/*.tgz
optdemoy/*.tgz

optdemon/vendor/
optdemon/node_modules/
optdemon/npm-debug.log
optdemon/bootstrap/cache/*.php

# Laravel 4 specific
optdemon/bootstrap/compiled.php
optdemon/app/storage/

# Laravel 5 & Lumen specific
optdemon/public/storage
optdemon/public/hot
optdemon/storage/*.key
optdemon/.env.*.php
optdemon/.env.php
optdemon/.env
optdemon/.env.production
optdemon/.env.local
optdemon/.env.my
optdemon/Homestead.yaml
optdemon/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
optdemon/.rocketeer/




optdemoy/vendor/
optdemoy/node_modules/
optdemoy/npm-debug.log
optdemoy/bootstrap/cache/*.php

# Laravel 4 specific
optdemoy/bootstrap/compiled.php
optdemoy/app/storage/

# Laravel 5 & Lumen specific
optdemoy/public/storage
optdemoy/public/hot
optdemoy/storage/*.key
optdemoy/.env.*.php
optdemoy/.env.php
optdemoy/.env
optdemoy/.env.production
optdemoy/.env.local
optdemoy/.env.my
optdemoy/Homestead.yaml
optdemoy/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
optdemoy/.rocketeer/
